@model OWNA.BookNest.Repository.Models.Book
@{
    <h1>Add Book</h1>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Authors</label>
            <select asp-for="SelectedAuthorIds" asp-items="@(new SelectList(Model.Authors, "Id", "Name"))" multiple class="form-control"></select>
            <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoverImageUrl"></label>
            <input asp-for="CoverImageUrl" class="form-control" />
            <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
}
